<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>

<body>
    <h1 id="text-color-1">Welcome to AIMDB</h1>
    <p id="intro-description">Your go-to website to manage your favorite movies and actors! Written by Jeongbin Son and
        coded for CS 330, this website allows a user to add movies and actors to an SQL database. By accessing the
        different pages located on the navbar or on the homepage, a user can find their way to manage their movies,
        actors, and even link actors to movies.</p>

    <div class="quick-links">
        <section>
            <h2>Manage Movies</h2>
            <p>View, add, edit, or delete movies. Click on Reviews to generate AI-driven reviews for your movies.</p>
            <button onclick="window.location.href = '@Url.Action("Index", "Movies")';">Go to Movies</button>
        </section>

        <section>
            <h2>Manage Actors</h2>
            <p>View, add, edit, or delete actors. Click Details to see actor info and generate tweets and movie lists.</p>
                <button onclick="window.location.href = '@Url.Action("Index", "Actors")';">Go to Actors</button>
        </section>

        <section>
            <h2>Link Actors to Movies</h2>
            <p>Create and manage links between actors and movies. Delete actors from movies as well!</p>
            <button onclick="window.location.href = '@Url.Action("LinkActorsMovies", "Actors")';">Link Actors to
                Movies</button>
        </section>
    </div>


</body>

</html>
