<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>

<body>
    <h1 id="text-color-1">Welcome to AIMDB</h1>
    <p>This site allows you to manage actors and movies!</p>

    <nav>
        <button onclick="window.location.href = '@Url.Action("Index", "Actors")';">Actors</button>
        <button onclick="window.location.href = '@Url.Action("Index", "Movies")';">Movies</button>
        <button onclick="window.location.href = '@Url.Action("LinkActorsMovies", "Actors")';">Link Actors to
            Movies</button>
    </nav>
</body>

</html>
