@model Fall2024_Assignment3_json10.Models.Movie

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/styles.css" />
    <script src="~/js/script.js"></script>
</head>
<body>
    <section id="reviews-section">
        <ul id="reviews-list"></ul>
        <table id="sentiment-table">
        </table>
        <p id="overall-sentiment"></p>
        <button onclick="backToMoviesFunc()">Back to Movies</button>
    </section>
</body>
</html>
